<div class="container p-5">
<h2>Requests</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">REQ_ID</th>
      <th scope="col">MESSAGE</th>
      <th scope="col">PHONENUMBER</th>
      <th scope="col">DATE</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>easd112f</td>
      <td>Mooc medic</td>
      <td>67xxxxxx</td>
      <td>04-04-2020</td>
      <td>pending</td>
    </tr>
  </tbody>
</table>
</div>
