
  <h3 class="mb-4">Requests</h3>

  <div class="row">
    <div class="col-md-6" *ngFor="let request of requests">
      <div class="card shadow">
        <div class="card-header bg-danger text-light">
          Outbound - SMS
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-4">ID</dt>
            <dd class="col-8">{{ request.__ID__ }}</dd>
            <dt class="col-4">REQ_ID</dt>
            <dd class="col-8">{{ request.REQ_ID}}</dd>
            <dt class="col-4">MESSAGE</dt>
            <dd class="col-8">{{ request.__MESSAGE__ }}</dd>
            <dt class="col-4">PHONENUMBER</dt>
            <dd class="col-8">{{ request.__PHONENUMBER__}}</dd>
            <dt class="col-4">DATE</dt>
            <dd class="col-8">{{ request.__DATE__ }}</dd>
            <dt class="col-4">STATUS</dt>
            <dd class="col-8"> <span class="badge badge-danger">{{ request.__STATUS__ }}</span></dd>
          </dl>
        </div>
      </div>
    </div>
