<div class="container p-5">
<h2>Requests</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">REQ_ID</th>
      <th scope="col">MESSAGE</th>
      <th scope="col">PHONENUMBER</th>
      <th scope="col">DATE</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <th scope="row"> {{ request.__ID__}} </th>
      <td>{{ request.REQ_ID}}</td>
      <td>{{ request.__MESSAGE__ }}</td>
      <td>{{ request.__PHONENUMBER__}}</td>
      <td>{{ request.__DATE__ }}</td>
      <td>{{ request.__STATUS__ }}</td>
    </tr>
  </tbody>
</table>
</div>
