<div class="container p-5">
  <h2 class="mb-5">Clients</h2>

  <div class="row">
    <div class="col-md-4" *ngFor="let client of clients">
      <div class="card shadow">
        <div class="card-header">
          Client node
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-3">ID</dt>
            <dd class="col-9">{{ client.__ID__ }}</dd>
            <dt class="col-3">Token</dt>
            <dd class="col-9"> {{ client.__TOKEN__ }}</dd>
            <dt class="col-3">Date</dt>
            <dd class="col-9">{{ client.__DATE__}}</dd>
          </dl>
        </div>
      </div>
    </div>
