<div class="row">
  <div class="col-md-6 col-xl-4 col-sm-6">
    <div class="card widget-block p-4 rounded bg-white ">
      <div class="card-block">
        <h3 class="text-dark">71,503</h3>
        <p class="py-2">Active Clients</p>
      </div>
      <div class="chartjs-wrapper" style="height: 110px;">
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4 col-sm-6">
    <div class="card widget-block p-4 rounded bg-white ">
      <div class="card-block">
        <h3 class="text-dark">9,503</h3>
        <p class="py-2">Processed Requests</p>
      </div>
      <div class="chartjs-wrapper" style="height: 110px;">
        <canvas id="dual-line"></canvas>
      </div>
    </div>
  </div>
</div>
